# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# Data and Models
data/raw/
data/processed/
model/*.joblib
model/*.pkl

# Next.js build output
.next/
out/
build/
node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
